@import "color";
@import "common";
@import "layout";
@import "font";

.main-navbar{
    background-color: @Deep-Grey-Origin;
    padding-left: 15px;
    padding-right: 15px;

    //clear the influence of float for next section
    padding-top: 2px;
    padding-bottom: 2px;

    .navbar-visiable-area{
        margin: 0 0;
        height: 48px;
        .navbar-header{
            display: inline-block;
            float: left;
        }
        .navbar-body{
            display: inline-block;
            float: left;
            ul{
                display: inline-block;
                float: left;
                >li{
                    float:left;
                    padding-top:15px;
                    padding-bottom: 15px;

                    //adjusted font-size for font-awesome
                    &:nth-child(1){
                        a i{
                            font-size: 18px;
                        }
                    }
                    &:nth-child(2){
                        a i{
                            font-size: 16px;
                        }
                    }
                    &:nth-child(3){
                        a i{
                            font-size: 16px;
                        }
                    }
                    &:nth-child(4){
                        a i{
                            font-size: 18px;
                        }
                    }

                    
                    a{
                        display: block;
                        line-height: 1;

                        font-size: 16px;
                        color:@Medium-Grey-Origin;

                        -webkit-transition: color 0.5s ease;
                        -moz-transition: color 0.5s ease;
                        transition: color 0.5s ease;
                        &:hover{
                            color:@Light-Grey-Origin;
                            
                            text-decoration: none;

                            i{
                                color:@Light-Grey-Origin;
                            }
                        }

                        i{
                            color:@Medium-Grey-Origin;

                            -webkit-transition: color 0.5s ease;
                            -moz-transition: color 0.5s ease;
                            transition: color 0.5s ease;
                        }
                    }
                }
            }
            @media(max-width:768px)
            {
                display: none !important;;
            }
         }
         .navbar-footer{
            display: inline-block;
            float: right;

            .navbar-toggle{
                background: none;

                padding: 0;
                margin: 10px 0 10px 0;
                opacity: 0.7;
                img{
                    width: 37px;
                    height: 28px;
                }
            }
         }
    }
    .navbar-collapse{
        ul{
            display: block;
            >li{
                display: block;
                height: 50px;
                padding-top:17px;
                padding-bottom: 17px;
                a{
                    display: block;
                    line-height: 1;

                    font-size: 16px;
                    color:@Medium-Grey-Origin;

                    -webkit-transition: color 0.5s ease;
                    -moz-transition: color 0.5s ease;
                    transition: color 0.5s ease;
                    &:hover{
                        color:@Light-Grey-Origin;
                        
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #navbar-invisiable-area{
        @media(min-width:768px)
        {
            display: none !important;
        }
    }
}

.main-board{
    position: relative;
    height: 600px;

    overflow: hidden;
    img{
        position: absolute;
        margin-left: -287px;
        margin-top: -152px;

        left: 50%;
        top: 50%;

        z-index: 10;
    }
    .black-layer{
        opacity: 0.5;

        z-index: 5;
    }
}

.brief-intros{
    h2{
        color:@Deep-Grey-Origin;
    }
    h4{
        color:@Heavy-Grey-Origin;

        line-height: 1.5;
        letter-spacing: 2.1px;
    }
}

.academics-intros{
    .academics-intros-single-subject{
        h3{
            color:@Heavy-Grey-Hover;
        }
        h4{
            color:@Heavy-Grey-Origin;

            line-height: 1.5;
        }
    }
    .academics-intros-single-subject + .academics-intros-single-subject{
        margin-top:60px;
    }
}

.academics-example{
    background-color: @Deep-Grey-Origin;
    h4{
        color:@Light-Grey-Origin;
    }
    P{
        color:@Light-Grey-Hover;
    }
    img{
        position: relative;
        filter: drop-shadow(8px 4px 6px #424242);

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover{
            top: -3px;
            left:-3px;

            filter: drop-shadow(15px 10px 10px #424242);
        }
    }
}

.lab-environnment{
    h3{
        color: @Heavy-Grey-Hover;
        line-height:1.5;
    }
    h4{
        color: @Heavy-Grey-Origin;
        line-height:1.5;
    }
}

.lab-language{
    background-color: @Deep-Grey-Origin;
    h4{
        color:@Light-Grey-Origin;
    }
    P{
        color:@Light-Grey-Hover;
    }
    .cube-single-line-container{
        .cube-single-line-object{
            img{
                padding: 11px 11px;
            }
        }
    }
}
.one-sentence{
    h4{
        color:@Heavy-Grey-Hover;
    }
}

.main-footer{
    background-color: @Deep-Grey-Origin;
    
    span,small{
        color:@Medium-Grey-Origin;
    }
}

//page-member
.personal-card-area{
    background-color: @Light-Grey-Origin;
    .single-personal-card{
        background-color: white;
        .single-personal-card-header{
            img{
                width:60px;
                height:60px;
            }
        }
        .single-personal-card-body{
            pre,small{
                display: block;

                color: @Medium-Grey-Origin;
            }
            small{
                line-height:1;
            }
            h4{
                display: block;

                color: @Medium-Grey-Hover;
                margin-bottom:10px;
            }
        }
        .single-personal-card-footer{
            small{
                display: block;

                color: @Medium-Grey-Hover;
                line-height:1.1;
            }
        }
    }
}